.image {
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}